body {
  background: url('https://rezmason.github.io/matrix/?numColumns=100&fallSpeed=-0.25&slant=180&glyphRotation=90&bloomStrength=0.1&cycleSpeed=0.01&skipIntro=true&bloomSize=0&version=resurrections') no-repeat center center fixed !important;
  background-size: cover !important;
  z-index: -1 !important;
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
}
.page__footer,
.page__footer-follow,
.page__footer-copyright {
  display: none; /* 隐藏页脚和页脚的所有内容 */
}

.footer {
  display: none; /* 隐藏其他可能的页脚部分 */
}

/* 尝试移除页面顶部的边框或分割线 */
header, .page__header {
  border-bottom: none; /* 如果是页眉的边框，移除之 */
  box-shadow: none; /* 移除阴影 */
  margin-bottom: 0; /* 尝试移除页眉与内容之间的间隔 */
}

/* 如果是水平分割线 */
hr {
  display: none; /* 隐藏所有水平分割线 */
}

/* 如果页面顶部元素有其他可能的边框 */
.page__content, .wrapper {
  border-top: none; /* 去除顶部边框 */
}

/* 检查是否有任何默认的上边框或容器样式 */
.container {
  border-top: none;
}
