body {
  background: url('https://rezmason.github.io/matrix/?numColumns=100&fallSpeed=-0.25&slant=180&glyphRotation=90&bloomStrength=0.1&cycleSpeed=0.01&skipIntro=true&bloomSize=0&version=resurrections') no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
}
